* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   --bg-page: black;
   --bg-input: hsla(191, 65%, 7%, 1);
   --bg-thead: hsla(194, 72%, 13%, 1);
   --bg-td-odd: hsla(195, 61%, 6%, 0.5);
   --bg-td-even: hsla(192, 65%, 7%, 1);
   --bg-noFavorites: hsla(192, 63%, 3%, 1);

   --bg-header-button: hsla(195, 91%, 25%, 1);
   --bg-header-button-hover: hsla(0, 0%, 100%, 1);

   --fc-placeholder: hsla(240, 6%, 51%, 1);
   --fc-header-button: hsla(0, 0%, 100%, 1);
   --fc-header-button-hover: #065E7C;
   --fc-table: hsla(240, 9%, 89%, 1);
   --fc-table-button: hsla(355, 91%, 66%, 1);
   --fc-table-button-hover: rgb(157, 44, 53);
   --fc-noFavorites: hsla(189, 4%, 32%, 1);

   --ff-noFavorites: 'Roboto Mobo', monospace;
}

.hide {
   display: none;
}

body {
   background: var(--bg-page);
   font-size: 1.6rem;
   color: var(--fc-table);
   display: flex;
   justify-content: center;
}

body * {
   font-family: 'Roboto', sans-serif;
}

#app {
   margin-top: 5rem;
}

.header {
   width: 36rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: all .5s;
}

.GitFav {
   width: 20rem;
}

.search {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.search button {
   width: 17rem;
   height: 3rem;

   display: flex;
   align-items: center;
   gap: .8rem;
   padding: 1.2rem 3.2rem 1.2rem 3.2rem;

   background: var(--bg-header-button);
   color: var(--fc-header-button);
   border: none;
   border-radius: .5rem;

   font-size: 1.4rem;
   line-height: 2.4rem;
   font-weight: bold;

   cursor: pointer;

   margin-bottom: 4rem;
   transition: background .5s;

}

.search button:hover{
   background: var(--bg-header-button-hover);
   color: var(--fc-header-button-hover);
}

.search button:hover svg path{
   fill: #065E7C;
}

svg {
   width: 2.1rem;
   height: 2.1rem;
}

.search input {
   margin-top: 3rem;
   width: 28rem;
   height: 3rem;

   background: var(--bg-input);
   border: none;
   border-radius: .5rem;
   padding: 1rem;
   color: white;
}

.search input::placeholder {
   color: var(--fc-placeholder);
}





.table {
   margin: auto;
   border-collapse: collapse;
   width: 36rem;
   color: var(--fc-table);
   font-size: 1.4rem;
   height: 34.2rem;
   
   outline: 1px solid hsla(191, 31%, 42%, 1);

   border-radius: 1.2rem;
   overflow: auto;
   overflow: overlay;
}
.table::-webkit-scrollbar {
   width: 22px;
   height: 22px;
   border-radius: 9999px;
}
.table::-webkit-scrollbar-thumb {
   width: 6px;
   background-color: transparent;
   border-radius: 8rem;
   box-shadow: inset 0 0 0px 6px var(--scroll-bar-color);
   border: solid 8px transparent;
}

.table::-webkit-scrollbar-corner {
   background-color: transparent;
}

table {
   border-collapse: collapse;
   width: 36rem;
   overflow: hidden;
   transition: all .5s;
}


thead {
   background: var(--bg-thead);
   border-radius: 1.2rem;
   height: 3rem;
}

table th {
   text-align: left;
   padding: .5rem 1rem .5rem 1rem;
}

table td {
   padding: .5rem 1rem .5rem 1rem;
   font-weight: bold;
   
}

table tr {
   outline: 1px solid hsla(191, 31%, 42%, 1);

}

.users {
   display: flex;
   flex-direction: column;
   max-width: 10rem;
   width: 10rem;
   align-items: center;
   gap: 1rem;
   
}

.users a {
   text-decoration: none;
   color: var(--fc-table);
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: .4rem;
}

.users p {
   font-weight: bold;
}

.users span {
   font-weight: normal;
   font-size: 1rem;
   
}

.users img {
   border-radius: 50%;
   width: 5rem;
   height: 5rem;
}

.remove {
   background-color: transparent;
   color: var(--fc-table-button);
   border: none;
   font-weight: bold;
   cursor: pointer;
   transition: all .5s;
}

.remove:hover {
   scale: 1.1;
   color: var(--fc-table-button-hover);
}

table tr:nth-child(even) {
   background: var(--bg-td-even);
}

table tr:nth-child(odd) {
   background: var(--bg-td-odd);
}

.no-Favorites {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;


   gap: 2rem;
   max-height: 100vh;
   height: 30rem;
   width: 100%;
}

@media (min-width: 530px) {


.header {
   max-width: 52rem;
   width: 52rem;
}

.table {
   max-width: 52rem;
   width: 52rem;
   transition: all .5s;
}

table {
   width: 52rem;
}

.users {
   flex-direction: row;
   gap: 1.6rem;
}

.users span {
   font-size: 1rem;
   width: 10rem;
}

.users p {
   font-size: 1.6rem;
   width: 10rem;
}

.users img {
   border-radius: 50%;
   width: 5.6rem;
   height: 5.6rem;
}

.repositories {
   width: 12rem;
}

.followers {
   width: 12rem;
}

.act {
   width: 9rem;
}

}

@media (min-width: 700px) {
   .header {
      max-width: 70rem;
      width: 70rem;

      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8rem;
      transition: all .5s;
   }

   .GitFav {
      width: 18.628rem;
      height: 3.275rem;
   }

   .search button {
      width: 17rem;
      height: 4.8rem;
      border-radius: .5rem;
      padding: 1.2rem, 3.2rem, 1.2rem, 3.2rem;
      font-size: 1.4rem;
      line-height: 2.4rem;
   }

   .search svg {
      width: 2.4rem;
      height: 2.4rem;
   }

   .search input {
      height: 4.8rem;
      border-radius: .5rem;
      padding: 1rem;

   }

   .search {
      flex-direction: row;   
      align-items: center;
   }

   .search input{
      margin-top: 0;
   }

   .search button {
      margin-bottom: 0;
   }
   
   .table {
      max-width: 70rem;
      width: 70rem;
      transition: all .5s;
   }
   
   table {
      width: 70rem;
   }
   
   
   .users span {
      font-size: 1.6rem;
      width: 20rem;
   }
   
   .users p {
      font-size: 2rem;
      width: 20rem;
   }
   
   .repositories {
      width: 15rem;
   }
   
   .followers {
      width: 15rem;
   }
   
   .act {
      width: 12rem;
   }
}

@media (min-width: 1200px) {
   .header {
      max-width: 112rem;
      width: 112rem;

      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8.7rem;
      transition: all .5s;

   }

   .GitFav {
      width: 18.628rem;
      height: 3.275rem;
   }

   .search button {
      width: 17rem;
      height: 4.8rem;
      border-radius: .5rem;
      padding: 1.2rem, 3.2rem, 1.2rem, 3.2rem;
      font-size: 1.4rem;
      line-height: 2.4rem;
   }

   .search svg {
      width: 2.4rem;
      height: 2.4rem;
   }

   .search input {
      width: 46.2rem;
      height: 4.8rem;
      border-radius: .5rem;
      padding: 1.6rem;

      font-size: 1.6rem;
      line-height: 100%;
   }

   .search {
      flex-direction: row;   
      align-items: center;
   }

   .search input{
      margin-top: 0;
   }

   .search button {
      margin-bottom: 0;
   }
   
   .table {
      max-width: 112rem;
      width: 112rem;
      transition: all .5s;
   }
   
   table {
      width: 112rem;
      font-size: 2rem;
      line-height: 3.2rem;
   }
   
   .users {
      flex-direction: row;
   }
   
   .users span {
      font-size: 2rem;
      width: 20rem;
   }
   
   .users p {
      font-size: 2rem;
      width: 20rem;
   }
   
   .repositories {
      width: 21.9rem;
   }
   
   .followers {
      width: 21.9rem;
   }
   
   .act {
      width: 17.8rem;
   }

   .remove {
      font-size: 2rem;
      line-height: 3.2rem;
   }
}